{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Nous contacter</h1>
	<a class="btn btn-sm btn-primary" href="{{ path('contact') }}">Contactez-nous</a>
{% endblock %}
